#navigationCenter {
    background-image: url("images/backgrounds/navbar_background.png");
}

#navItem {
    border-radius: 5px;
    background-color: bisque;
    opacity: 0.65;
    padding: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 175px;
    
} 

.upperLeft {
    grid-area: upL;
}
.upperRight {
    grid-area: upR;
}
.centerLeft {
    grid-area: midL;
}
.centerRight {
    grid-area: midR;
}
.bottomLeft {
    grid-area: loL;
}
.bottomRight {
    grid-area: loR;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'upL upR'
        'midL midR'
        'loL loR';
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}
.gridItem {
    border: solid;
    border-radius: 5px;
    margin: 15px 15px 15px 15px;
    text-align: center;
    padding: 20px 0;
}